mixin header(isMain)
		header.header#header
			.header__layer_top
				.center
					.f-container.header__container_first
						.header__address
							i.ico
								+svg2('marker')
							p.header-address__text
								|Opening Hour: (10.00-07.00)
						.header__btn
							button.main-btn
								span.main-btn__text
									|Get a quote
			.header__layer_bottom
				.center
					.f-container.header__container_second
						.header__logo.logo
							.header__logo-ico
								i.ico
									+svg2('helmet')
								p.header__logo-title
									|Constructo
						.header__address.header-contact
							.header__address-ico.header-contact__ico
								i.ico
									+svg2('location')
							.header-address__content.header-contact__content
								p.header-address__title.header-contact__title
									|Address
								p.header-address__text.header-contact__text
									|20/D, Kings road, Green lane
						.header__phone.header-contact
							.header__phone-ico.header-contact__ico
								i.ico
									+svg2('headphones')
							.header-phone__content.header-contact__content
								p.header-phone__title.header-contact__title
									|Call us
								a.header-phone__link.header-contact__text(href="tel:+10673567367")
									|+10 673 567 367

						//- .header__menu-wrap
						//- 	.header__menu-container
						//- 		nav.header__menu.menu
						//- 			ul.header__menu-list.menu__list
						//- 				li.header__menu-list-item.menu__list-item.menu__list-item
						//- 					a.header__menu-link.menu__link.circle-nav-link(href="#portfolio")
						//- 						|Установочний центр
						//- 				li.header__menu-list-item.menu__list-item
						//- 					a.header__menu-link.menu__link.circle-nav-link(href="#feedback")
						//- 						|Каталог
						//- 				li.header__menu-list-item.menu__list-item
						//- 					a.header__menu-link.menu__link.circle-nav-link(href="#about")
						//- 						|Наші роботи
						//- 				li.header__menu-list-item.menu__list-item
						//- 					a.header__menu-link.menu__link.circle-nav-link(href="#contacts")
						//- 						|Новини
						//- 				li.header__menu-list-item.menu__list-item
						//- 					a.header__menu-link.menu__link.circle-nav-link(href="#contacts")
						//- 						|Контакти
						//- 		.header__block_mobile.desktop-hidden
						//- 			p.header-address__text_mobile
						//- 				|м. Київ пров. Куренівський, 15, 04073
						//- 			p.header-address__text_mobile
						//- 				|м. Вишневе, вулиця Київська, 2
						//- 			p.header-address__text_mobile
						//- 				|м. Київ, вулиця Миколи Трублаїні, 37-В
						//- 			ul.language-switcher__list_mobile
						//- 				li.language-switcher__list-item_mobile
						//- 					a.language-switcher__link_mobile.active(href='/')
						//- 						|UA
						//- 				li.language-switcher__list-item_mobile
						//- 					a.language-switcher__link_mobile(href='ru.html')
						//- 						|RU
						//- 			.header__btn_mobile
						//- 				button.main-btn
						//- 					span.main-btn__text
						//- 						|Замовити дзвінок




