@import url("app/less/Common/_var.less");
@import url("app/less/Common/_mixins.less");
@import url("app/less/Common/_fonts.less");

html {
  font-size: 24px;
  scroll-behavior: smooth;
}

html,
body {
  color: @font-color;
  width: 100%;
}

::selection {
  background: rgba(@main-color, 0.8);
  color: @white;
}

body {
  font-family: "Gilroy", sans-serif;
  font-size: 1rem;
  font-variant-ligatures: normal;
  font-variant-east-asian: normal;
  font-variant-caps: normal;
  font-variant-numeric: normal;
  font-stretch: 100%;
  font-style: normal;
  font-weight: 400;
  color: @font-color;
  letter-spacing: 0.2px;
  line-height: 1.25;
  margin: 0;
  padding: 0;
  // overflow-y: hidden;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  // line-height: 1;
}

img,
picture,
source {
  max-width: 100%;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

h2 {
  overflow-wrap: break-word;
}

ul,
li,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  padding: 0;
  margin: 0;
  display: block;
  color: @font-color;
  cursor: pointer;
  font-weight: normal;
}

input,
select,
textarea {
  width: 100%;
  outline: none;
  border: none;
  text-align: center;
}

label {
  margin-bottom: 0;
}

button {
  cursor: pointer;
  outline: none;
  background: unset;
  border: none;
}

main {
  width: 100%;
}

// .ico {
//   display: block;
// }

// .hidden {
//   display: none;
// }

// [data-fields] {
//   height: 0;
//   display: none;
//   transition: height .25s linear;
//   overflow: hidden;
// }

//|||||||||||||||||||COMMON ELEMENTS|||||||||||||||||||//

.subtitle {
  text-transform: uppercase;
  font-size: 1rem;
  line-height: (44/24);
  font-weight: 400;
}

.paragraph {
  &:not(:last-child) {
    padding-bottom: 35px;
  }
}

.splide__arrows {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}

.splide__arrow--next {
  position: absolute;
  right: 50px;
}

.splide__arrow--prev {
  position: absolute;
  left: 50px;
}

.splide__arrow {
  padding: 0;
  margin: 0;
  & > div {
    width: 95px;
    height: 95px;
    border-radius: 50%;
    border: 1px solid @main-color;
    background-color: rgba(@white, 0.7);
    position: relative;
  }

  &.splide__arrow--next {
    &:before {
      content: "";
      width: 114%;
      height: 1px;
      top: 50%;
      transform: translateY(-50%);
      background-color: @main-color;
      position: absolute;
      right: 34%;
      z-index: 2;
      transition: right 0.15s linear;
    }

    &:hover {
      &:before {
        right: -50%;
      }
    }
  }

  &.splide__arrow--prev {
    &:before {
      content: "";
      width: 114%;
      height: 1px;
      top: 50%;
      transform: translateY(-50%);
      background-color: @main-color;
      position: absolute;
      left: 34%;
      z-index: 2;
      transition: left 0.15s linear;
    }

    &:hover {
      &:before {
        left: -50%;
      }
    }
  }
}

.splide__pagination {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  bottom: (52/960) * 100%;

  li {
    padding: 0 4px;
  }
}

.splide__pagination__page {
  width: 17px;
  height: 17px;
  background: @main-color;
  border-radius: 50%;
  padding: 0;

  &.is-active {
    background-color: @white;
  }
}

.splide {
  overflow-x: hidden;
}

.desktop {
  display: block !important;
}

.mobile {
  display: none !important;
}

.scale {
  transition: transform 0.25s linear;
  transform-origin: center;
  &:hover {
    transform: scale(1.15);
  }
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  background-color: @white;
  background-clip: padding-box;
  border: 1px solid @main-color;
  transition: border-color 0.25s linear, box-shadow 0.25s linear;
  text-align: left;
  resize: none;

  &::-webkit-input-placeholder {
    text-align: left;
  }

  &::-moz-placeholder {
    text-align: left;
  }
}

.form-control:focus {
  background-color: @white;
  border-color: @main-color;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(@main-color, 0.25);
}

.form-group {
  margin-bottom: 1rem;

  label {
    margin-bottom: 0.5rem;
    display: inline-block;
  }
}

//|||||||||||||||||||COMMON ELEMENTS END|||||||||||||||||||//

@media screen and(max-width: 1200px) {
}

@media screen and(max-width: 992px) {
  html {
    font-size: 20px;
  }

  .paragraph {
    &:not(:last-child) {
      padding-bottom: 30px;
    }
  }

  .desktop {
    display: none !important;
  }

  .mobile {
    display: block !important;
  }

  .splide__arrow > div {
    width: 80px;
    height: 80px;
  }

  .splide__arrow--next {
    right: 35px;
  }

  .splide__arrow--prev {
    left: 35px;
  }

  .splide__pagination__page {
    width: 12px;
    height: 12px;
  }
}

@media screen and(max-width: 768px) {
  html {
    font-size: 16px;
  }

  .paragraph {
    &:not(:last-child) {
      padding-bottom: 25px;
    }
  }

  .splide__arrow > div {
    width: 60px;
    height: 60px;
  }

  .splide__arrow--next {
    right: 25px;
  }

  .splide__arrow--prev {
    left: 25px;
  }

  .splide__pagination__page {
    width: 8px;
    height: 8px;
  }

  .splide__pagination {
    li {
      padding: 0 3px;
    }
  }
}

@media screen and(max-width: 576px) {
  html {
    font-size: 14px;
  }

  .paragraph {
    &:not(:last-child) {
      padding-bottom: 20px;
    }
  }

  .splide__arrow > div {
    width: 40px;
    height: 40px;
  }

  .splide__arrow--next {
    right: 10px;
  }

  .splide__arrow--prev {
    left: 10px;
  }

  .splide__pagination__page {
    width: 5px;
    height: 5px;
  }

  .splide__pagination {
    li {
      padding: 0 2px;
    }
  }
}

//   body [class*="desktop-hidden"] {
//     display: block;
//   }

// }

@import url("app/less/BEM Components/center/center.less");
// @import url("app/less/BEM Components/center/_size/center_size_l.less");
// @import url("app/less/BEM Components/center/_size/center_size_s.less");
@import url("app/less/BEM Components/f-container/f-container.less");
@import url("app/less/BEM Components/title/title.less");
@import url("app/less/BEM Components/title/__type/title__h1.less");
@import url("app/less/BEM Components/title/__type/title__h2.less");
// @import url("app/less/BEM Components/title/__type/title__h3.less");
// @import url("app/less/BEM Components/checkbox/checkbox.less");
// @import url("app/less/BEM Components/breadcrumbs/breadcrumbs.less");
// @import url("app/less/BEM Components/burger/burger.less");
// @import url("app/less/BEM Components/logo/logo.less");
// @import url("app/less/BEM Components/menu/menu.less");
// @import url("app/less/BEM Components/form/form.less");
// @import url("app/less/BEM Components/menu/_mobile/menu_mobile.less");
@import url("app/less/BEM Components/main-btn/main-btn.less");
// @import url("app/less/BEM Components/main-btn/_color/main-btn_transparent.less");
// @import url("app/less/BEM Components/main-btn/_color/main-btn_gray.less");
// @import url("app/less/BEM Components/main-btn/_color/main-btn_white.less");
// @import url("app/less/BEM Components/control-btn/control-btn.less");
@import url("app/less/BEM Components/text/text.less");
// @import url("app/less/BEM Components/tabs/tabs.less");
// @import url("app/less/BEM Components/pagination/pagination.less");
// @import url("app/less/BEM Components/footer/footer.less");
// @import url("app/less/BEM Components/actions/actions.less");
// @import url("app/less/BEM Components/actions/_size/actions_small.less");
// @import url("app/less/BEM Components/sidebar/sidebar.less");
// @import url("app/less/BEM Components/sidebar/_size/sidebar_size_l.less");

@import url("app/less/Components/about.less");
@import url("app/less/Components/about2.less");
@import url("app/less/Components/amenity.less");
@import url("app/less/Components/apartments.less");
@import url("app/less/Components/characteristics.less");
@import url("app/less/Components/contact.less");
@import url("app/less/Components/entrance.less");
@import url("app/less/Components/facility.less");
@import url("app/less/Components/header.less");
@import url("app/less/Components/health.less");
@import url("app/less/Components/info-map.less");
@import url("app/less/Components/lobby.less");
@import url("app/less/Components/pool.less");
@import url("app/less/Components/preview.less");
@import url("app/less/Components/modal.less");

// @import url("app/less/sprite.less");
