.about__layer {
    .fPa(142%, (221%/2), 142px, (221px/2), 992px, 1600px);
}

.about__main-image {
    flex-basis: (476/1475) * 100%;
}

.about__images {
    flex-basis: ((1475 - (591 + 476))/1475) * 100%;
}

.about__info {
    flex-basis: (591/1475) * 100%;
}