.amenity__layer {
    .fPa((220%/2), (235%/2), (220px/2), (235px/2), 576px, 1600px);
}

.numbers-card {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    &:not(:last-child) {
        margin-bottom: 28px;
    }
}

.numbers-card__num {
    // font-family: 'Playfair Display';
    // font-style: italic;
    font-weight: 400;
    .fSize(50vw, 50px * (576/1475), 50px, 576px, 1475px);
    line-height: (84/96);
    text-transform: uppercase;
    color: @main-color;
    margin-right: 20px;
}

.amenity__main-image {
    position: relative;
        img {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1;
            object-fit: cover;
        }
}

.amenity__info {
    flex-basis: (((271/2) + 548)/1475) * 100%;
    padding-right: ((271/2)/1475) * 100%;
}



.amenity__title {
    .fPa(0, 100%, 0, 100px, 992px, 1600px);
}

.amenity__text {
    padding-bottom: 60px;
    max-width: 600px;
}
.amenity__top {
    .fPa(0, 153%, 0, 153px, 992px, 1600px);
    .amenity__images {
        flex-basis: (((271/2) + 563)/1475) * 100%;
        padding-left: ((271/2)/1475) * 100%;
        .amenity__main-image {
            width: 100%;
            &:before {
                content: '';
                display: block;
                padding-top: ((853/563)) * 100%; 
            }
    
            &:after {
                content: '';
                height: 100%;
                width: 100%;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                background: url('../img/pattern.svg') no-repeat right/contain;
                z-index: 1;
            }
        }
    }
}


.amenity__bottom {
    align-items: flex-start;
    .amenity__images {
        flex-basis: ((1475 - ((232/2) + 563))/1475) * 100%;
        padding-right: ((232/2)/1475) * 100%;

        .amenity__main-image {
            margin-left: auto;
            width: (497/680) * 100%;
            &:before {
                content: '';
                display: block;
                padding-top: 100%; 
            }
        }
    }

    .amenity__numbers{
        padding-top: (180/1475) * 100%;
        flex-basis: (((232/2) + 563)/1475) * 100%;
        padding-left: ((232/2)/1475) * 100%;
    }
}


@media screen and (max-width: 992px) {
    .amenity__main-image:after {
        display: none;
    }

    .amenity__top .amenity__images {
        padding-left: 0;

    }

    .amenity__top {
        justify-content: flex-end;
        padding-bottom: 0;
    }

    .amenity__bottom {
        flex-direction: column;
        margin-top: -60px;
        padding-bottom: 72px;
    }

    .amenity__bottom .amenity__images {
        padding-right: 0;
        width: 100%;
    }

    .amenity__title {
        max-width: 400px;
    }

    .amenity__bottom .amenity__images .amenity__main-image {
        width: (111/345) * 100%;
        margin-left: 0;
        margin-right: auto;
    }

    .amenity__text {
        padding-bottom: 40px;
    }

    .amenity__btn {
        margin: 0 auto;
    }
}

@media screen and (max-width: 768px) {
    .amenity__bottom {
        margin-top: -50px;
        padding-bottom: 62px;
    }

    .numbers-card:not(:last-child) {
        margin-bottom: 18px;
    }

    .amenity__text {
        padding-bottom: 30px;
    }
}

@media screen and (max-width: 576px) {
    .numbers-card__num {
        font-size: 20px;
    }

    .amenity__bottom {
        margin-top: -40px;
        padding-bottom: 52px;
    }

    .numbers-card:not(:last-child) {
        margin-bottom: 13px;
    }

    .amenity__text {
        padding-bottom: 20px;
    }
}