.contact__download-btn {
    transition: color 0.25s linear;
    display: inline-block;

    .ico {
        
    }

    svg {
        stroke: @black;
        transition: stroke 0.25s linear;
    }

    &:hover {
        color: @main-color;

        svg {
            stroke: @main-color;
        }
    }
}