.entrance__layer {
    .fPa((250%/2), (217%/2), (250px/2), (217px/2), 992px, 1600px);
}

.entrance__container {
    align-items: flex-start;
}

.entrance__images-wrap {
    flex-basis: (((154/2) + 715)/1475) * 100%;
    padding-right: (77/1475) * 100%;
}

.entrance__info {
    flex-basis: ((1475 - ((154/2) + 715))/1475) * 100%;
    padding-left: (77/1475) * 100%;
}

.entrance__title {
    .fPa(0%, 107%, 0, 107px, 992px, 1600px);
}

.entrance__text {
    padding-bottom: 60px;
}


@media screen and (max-width: 992px) {

}

@media screen and (max-width: 768px) {
    
}

@media screen and (max-width: 576px) {
    
}