.preview__layer {
    .fPa((221%/2), (215%/2), (221px/2), (215px/2), 576px, 1600px);
}

.preview__btn {
    margin: 0 auto;
}

.preview__interval-images-wrap {
    .fPa(0, 100%, 0, 100px, 1200px, 1600px);
}

.preview__interval-images {
    position: relative;

    &:before {
        content: '';
        display: block;
        height: 100vh;
        min-height: 600px;
    }

    img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        transition: opacity 2.5s linear;
        object-fit: cover;

        &:not(.active) {
            opacity: 0;
        }
    }
}


.preview__image {
    flex-basis: 50%;
    margin-bottom: 60px;
    position: relative;

    &:before {
        content: '';
        display: block;
        padding-top: ((460/1475)*2) * 100%; 
    }

    &:nth-child(odd) {
        margin-right: 42px;
    }

    &:nth-child(even) {
        margin-left: 42px;
    }

    img {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        object-fit: cover;
    }
}


@media screen and (max-width: 992px) {
    .preview__interval-images {
        &:before {
            padding-top: (448/375) * 100%;
            height: auto;
            min-height: unset;
        }
    }

    .preview__image {
        &:before {
            padding-top: (263/343) * 100%;
        }
    }

    .preview__image:nth-child(2n) {
        margin-left: 32px;
    }

    .preview__image:nth-child(2n+1) {
        margin-right: 32px;
    }


}

@media screen and (max-width: 768px) {
    
}

@media screen and (max-width: 576px) {
    .preview__images {
        flex-direction: column;
    }

    .preview__image {
        width: 100%;
    }

    .preview__image:nth-child(odd) {
        margin-right: 0;
    }

    .preview__image:nth-child(even) {
        margin-left: 0;
    }
}