.about
    .about__layer
        .center
            .about__mobile.mobile
                p.about__subtitle.subtitle
                    |INSPIRED & DESIGNED FOR
                h2.about__title.title.title__h2
                    |The new Aspirational Society
            .f-container.about__container
                .about__main-image.scale
                    img(src="img/1.jpeg", alt="Residence")
                .about__images
                    .about__image.scale
                        img(src="img/3-min.png", alt="")
                    .about__image.scale
                        img(src="img/4-min.png", alt="")
                atricle.about__info
                    p.about__subtitle.subtitle.desktop
                        |INSPIRED & DESIGNED FOR
                    h2.about__title.title.title__h2.desktop
                        |The new Aspirational Society
                    .about__text
                        p.about__paragraph.text.paragraph
                            |This architectural masterpiece has been purposefully created for sophisticated, talented, enthusiastic and ambitious people like you, Who are shaping the future.
                        p.about__paragraph.text.paragraph
                            |Here you can connect, redefine success, workplace and lifestyle. Here you can experience freedom without expectations.
                    button.about__btn.main-btn(data-micromodal-trigger="modal-1")
                        |Discover more