.about
    .about__layer
        .center
            .f-container
                .about__main-image
                    img(src="img/2-min.png", alt="Residence")
                .about__images
                    img(src="img/3-min.png", alt="")
                    img(src="img/4-min.png", alt="")
                atricle.about__info
                    p.about__subtitle.subtitle
                        |INSPIRED & DESIGNED FOR
                    p.about__title.title.title__h2
                        |The new Aspirational Society
                    .about__text
                        p.about__paragraph.text
                            |This architectural masterpiece has been purposefully created for sophisticated, talented, enthusiastic and ambitious people like you, Who are shaping the future.
                        p.about__paragraph.text
                            |Here you can connect, redefine success, workplace and lifestyle. Here you can experience freedom without expectations.
                    a.about__btn.main-btn(href="#")
                        |Discover more