.about2
    .about2__layer
        .center
            .about2__top.f-container
                atricle.about2__info
                    p.about2__subtitle.subtitle
                        |IMMERSE YOURSELF
                    h2.about2__title.title.title__h2
                        |IMMERSE YOURSELF
                    .about2__text.desktop
                        p.about2__paragraph.text.paragraph
                            |Sunmar is at the heart of a booming city that in recent years has transposed itself from a sleepy mediterranean coastal port and tourist destination to a pulsating international hub for commerce and finance.
                .about2__image.desktop
                    img.scale(src="img/8-min.png", alt="")
            .about2__mobile.mobile
                #about2-carousel.splide(aria-label='Beautiful Images')
                    .splide__arrows
                        button.splide__arrow.splide__arrow--prev
                            div
                        button.splide__arrow.splide__arrow--next
                            div
                    .splide__track
                        ul.splide__list.about2__list
                            li.splide__slide.about2__slide
                                img(src='img/32-min.png' alt='')
                            li.splide__slide.about2__slide
                                img(src='img/33-min.png' alt='')
                            li.splide__slide.about2__slide
                                img(src='img/34-min.png' alt='')
                            li.splide__slide.about2__slide
                                img(src='img/35-min.png' alt='')
            .about2__middle.desktop
                .about2__images.f-container
                    .about2__image
                        img.scale(src="img/9-min.png", alt="Sunmar")
                    .about2__image
                        img.scale(src="img/10-min.png", alt="Sunmar")
                    .about2__image
                        img.scale(src="img/11-min.png", alt="Sunmar")
            .about2__bottom.f-container
                .about2__image-wrap.desktop
                    .about2__image
                        img(src="img/12-min.png", alt="")
                atricle.about2__info
                    .about2__text.mobile
                        p.about2__paragraph.text.paragraph
                            |Sunmar is at the heart of a booming city that in recent years has transposed itself from a sleepy mediterranean coastal port and tourist destination to a pulsating international hub for commerce and finance.
                    .about2__text.desktop
                        p.about2__paragraph.text.paragraph
                            |A perfect setting for luxury living in one of the most sought out areas of limassol. a combination of comfort and elegance, enabling you to enjoy the conveniences of modern living whilst at the same time offering you a beautifully landscaped space where you can live in harmony with nature.
                    button.about2__btn.main-btn(data-micromodal-trigger="modal-1")
                        |Discover more