.amenity
    .amenity__layer
        .center
            .amenity__top.f-container
                atricle.amenity__info
                    p.amenity__subtitle.subtitle
                        |PROPERTY AMENITIES
                    p.amenity__title.title.title__h2
                        |Five Star Amenities
                    .amenity__text
                        p.amenity__paragraph.text
                            |Limassol’s finest coastal living experience is enriched by superb service, an abundance of amenities, and a dedicated concierge. Attentive staff deliver highly personalised hospitality to every resident. Sunmar is a place to play, to rest and to establish lasting memories.
                        p.amenity__paragraph.text
                            |Enjoy a glass of wine with friends, slip into the cooling waters of the sparkling pool or pamper yourself with a bespoke treatment in a luxurious, indulgent spa, sauna or turkish bath. The possibilities are endless at sunmar – set your imagination free.
                    a.amenity__btn.main-btn(href="#")
                        |Discover more
                .amenity__main-image
                    img(src="img/30-min.png", alt="Sunmar")
            .amenity__bottom.f-container