.amenity
    .amenity__layer
        .center
            .amenity__mobile.mobile
                p.amenity__subtitle.subtitle
                    |PROPERTY AMENITIES
                h2.amenity__title.title.title__h2
                    |Five Star Amenities
            .amenity__top.f-container
                atricle.amenity__info.desktop
                    p.amenity__subtitle.subtitle
                        |PROPERTY AMENITIES
                    h2.amenity__title.title.title__h2
                        |Five Star Amenities
                    .amenity__text
                        p.amenity__paragraph.text.paragraph
                            |Limassol’s finest coastal living experience is enriched by superb service, an abundance of amenities, and a dedicated concierge. Attentive staff deliver highly personalised hospitality to every resident. Sunmar is a place to play, to rest and to establish lasting memories.
                        p.amenity__paragraph.text.paragraph
                            |Enjoy a glass of wine with friends, slip into the cooling waters of the sparkling pool or pamper yourself with a bespoke treatment in a luxurious, indulgent spa, sauna or turkish bath. The possibilities are endless at sunmar – set your imagination free.
                    button.amenity__btn.main-btn(data-micromodal-trigger="modal-1")
                        |Discover more
                .amenity__images
                    .amenity__main-image
                        img(src="img/30-min.png", alt="Sunmar")
            .amenity__bottom.f-container
                .amenity__images
                    .amenity__main-image
                        img(src="img/31-min.png", alt="Sunmar")
                .amenity__numbers.numbers-cards
                    .numbers-card
                        span.numbers-card__num
                            |01
                        p.numbers-card__text.text
                            |Spa: sauna, hamam
                    .numbers-card
                        span.numbers-card__num
                            |02
                        p.numbers-card__text.text
                            |Massage
                    .numbers-card
                        span.numbers-card__num
                            |03
                        p.numbers-card__text.text
                            |Nail Bar
                    .numbers-card
                        span.numbers-card__num
                            |04
                        p.numbers-card__text.text
                            |Hairdresser
                    .numbers-card
                        span.numbers-card__num
                            |05
                        p.numbers-card__text.text
                            |Fitness room
                            atricle.amenity__info.desktop
            .amenity__mobile.mobile
                .amenity__text
                    p.amenity__paragraph.text.paragraph
                        |Limassol’s finest coastal living experience is enriched by superb service, an abundance of amenities, and a dedicated concierge. Attentive staff deliver highly personalised hospitality to every resident. Sunmar is a place to play, to rest and to establish lasting memories.
                    p.amenity__paragraph.text.paragraph
                        |Enjoy a glass of wine with friends, slip into the cooling waters of the sparkling pool or pamper yourself with a bespoke treatment in a luxurious, indulgent spa, sauna or turkish bath. The possibilities are endless at sunmar – set your imagination free.
                button.amenity__btn.main-btn(data-micromodal-trigger="modal-1")
                    |Discover more
