.apartments
    .apartments__layer
        .center
            .apartments__top.f-container
                h2.apartments__title.title.title__h2
                    |Luxury apartments
                    br
                    |Designed with love
        .apartments__middle
            .apartments__grid
                img.horizontal(src="img/36-min.png", alt="Apartments")
                img.big(src="img/37-min.png", alt="Apartments")
                img(src="img/38-min.png", alt="Apartments")
                img(src="img/39-min.png", alt="Apartments")
                img(src="img/40-min.png", alt="Apartments")
                img.horizontal.w(src="img/41-min.png", alt="Apartments")
                img.vertical(src="img/42-min.png", alt="Apartments")
                img.w(src="img/43-min.png", alt="Apartments")
                img.w(src="img/44-min.png", alt="Apartments")
        .center
        .apartments__bottom.f-container
                a.apartments__btn.main-btn(href="#")
                    |Discover more