.characteristics
    .characteristics__layer
        .center
            .characteristics__cards.f-container
                .characteristics__card
                    h3.characteristics__number
                        |81
                    p.characteristics__text
                        |APARTMENTS
                .characteristics__card 
                    h3.characteristics__number
                        |7000 m
                        sup
                            |2
                    p.characteristics__text
                        |external area with garden and playdround area
                .characteristics__card 
                    h3.characteristics__number
                        |2024
                    p.characteristics__text
                        |completion