.contact
    .contact__layer
        .center
            .contact__top
                a.contact__download-btn(href="#" download) 
                    |Download brochure
                    i.ico
                        +svg2('download')
                    a.contact__btn.main-btn(href="#")
                        |Fill out an application
            .contact__middle
                atricle.contact__info
                    h2.contact__title.title.title__h2
                        |Contact
                    .contact__text.f-container
                        p.contact__address
                            |Sunmarresidence.com
                            br
                            span
                                |Sales office address:
                            br
                            |Americannas 2 &, Georgiou' A, Limassol 4048, Cyprus
                            br
                            a(href="mailto:Sunmarresidence@gmail.com")
                                |Sunmarresidence@gmail.com
                        a(href="tel:+3579591955")
                            |+357 95 919 555
            .contact__bottom
                a.contact__location-btn(href="#") 
                    i.ico
                        +svg2('map-pin')
                    |Location

