.contact
    .contact__layer
        .center
            .contact__top
                a.contact__download-btn(href="#" download) 
                    |Download brochure
                    i.ico
                        +svg2('download')
            .contact__middle
            .contact__bottom