.entrance
    .entrance__layer
        .center
            .f-container.entrance__container
                .entrance__images-wrap
                    .entrance__main-image
                        img(src="img/14-min.png", alt="Sunmar")
                    .entrance__images.f-container
                        img(src="img/15-min.png",  alt="Sunmar")
                        img(src="img/16-min.png",  alt="Sunmar")
                atricle.entrance__info
                    p.entrance__subtitle.subtitle
                        |WHEN FIRST IMPRESSIONS
                    h2.entrance__title.title.title__h2
                        |ENTRANCE
                    .entrance__text
                        p.entrance__paragraph.text.paragraph
                            |Integrated into the overall building facade, sunmar’s awesome entrance establishes a memorable identity for a towering building that makes a positive contribution to the surrounding streetscape
                    button.entrance__btn.main-btn(data-micromodal-trigger="modal-1")
                        |Discover more