.facility
    .facility__layer
        .center
            .facility__top.f-container
                .facility__logo
                    img(src="img/logo.png", alt="Sunmar")
                .facility__info
                    p.facility__subtitle.subtitle
                        |PROPERTY FACILITIES
                    h2.facility__title.title.title__h2
                        |resort style facilities
            .facility__middle
                article.facility__text
                    p
                        |A perfect setting for luxury living in one of the most sought out areas of limassol. A combination of comfort and elegance, enabling you to enjoy the conveniences of modern living whilst at the same time offering you a beautifully landscaped space where you can live in harmony with nature.  
        .facility__bottom
            .grid
                .grid-sizer
                .stamp
                    img(src="", alt="")
                .grid-item.grid-item--height2
                    img(src="img/24-min.png", alt="Sunmar")
                .grid-item
                    img(src="img/25-min.png", alt="Sunmar")
                .grid-item
                    img(src="img/26-min.png", alt="Sunmar")
                .grid-item.grid-item--width2
                    img(src="img/28-min.png", alt="Sunmar")
                .grid-item.grid-item--width2
                    img(src="img/27-min.png", alt="Sunmar")
                .grid-item.grid-item--width2
                    img(src="img/29-min.png", alt="Sunmar")