header.header
 .header__layer
  .center.header__center
    .header__top
      .header__logo.logo
        a(href="/") 
          img(src="img/logo.svg", alt="Logo")
      .header__tools
        //- .header__languages
        //-   a.header__language(href="#")
        //-     |RU
        //- .header__burger
        //-   span
        //-   span 
        //-   span 
    .header__info
      .header__concepts.first
        //- p.header__concept
        //-   |ABOUT
        //- p.header__concept
        //-   |SERVICES
      h1.header__title.title.title__h1
        span
          |Luxury Living
        span
          |By The Sea
      .header__concepts.second
        //- p.header__concept
        //-   |BUILDING PLANS
        //- p.header__concept
        //-   |FKOOR PLANS
