.health
    .health__layer
        .center
            h2.health__title.title.title__h2
                |luxury hotel style amenities at 
                br
                |sunmar
        #health-carousel.splide(aria-label='Beautiful Images')
            .splide__arrows
                button.splide__arrow.splide__arrow--prev
                    div
                button.splide__arrow.splide__arrow--next
                    div
            .splide__track
                ul.splide__list.health__list
                    li.splide__slide.health__slide
                        img(src='img/32-min.png' alt='')
                        p.health__text
                            |Massage
                    li.splide__slide.health__slide
                        img(src='img/33-min.png' alt='')
                        p.health__text
                            |Massage
                    li.splide__slide.health__slide
                        img(src='img/34-min.png' alt='')
                        p.health__text
                            |Massage
                    li.splide__slide.health__slide
                        img(src='img/35-min.png' alt='')
                        p.health__text
                            |Massage