.lobby
    .lobby__layer
        .center
            .lobby__top
                p.lobby__subtitle.subtitle
                    |BUSINESS & PLEASURE
                h2.lobby__title.title.title__h2
                    |THE LOBBY
        .lobby__mobile.mobile
            #lobby-carousel.splide(aria-label='Beautiful Images')
                .splide__arrows
                    button.splide__arrow.splide__arrow--prev
                        div
                    button.splide__arrow.splide__arrow--next
                        div
                .splide__track
                    ul.splide__list.lobby__list
                        li.splide__slide.lobby__slide
                            img(src='img/32-min.png' alt='')
                        li.splide__slide.lobby__slide
                            img(src='img/33-min.png' alt='')
                        li.splide__slide.lobby__slide
                            img(src='img/34-min.png' alt='')
                        li.splide__slide.lobby__slide
                            img(src='img/35-min.png' alt='')
        .lobby__middle.desktop
            .lobby__main-image
                img(src="img/17-min.png", alt="Map")
        .center
            .lobby__bottom.f-container
                .lobby__images-wrap.desktop
                    .lobby__image
                        img(src="img/18-min.png", alt="Sunmar")
                    .lobby__images.f-container
                        img(src="img/19-min.png",  alt="Sunmar")
                        img(src="img/20-min.png",  alt="Sunmar")
                atricle.lobby__info
                    .lobby__text
                        p.lobby__paragraph.text.paragraph
                            |The classic, sophisticated design of the lobby generates positive feelings that leave a powerful impression. Here is a sociable, welcoming space where residents and visitors can gather together.
                        p.lobby__paragraph.text.paragraph
                            |A key feature of this handsomely appointed work-live oriented area is the co-working zone – an informal sphere of functionality that actively encourages networking and interaction.  
                    button.lobby__btn.main-btn(data-micromodal-trigger="modal-1")
                        |Discover more
