main.main
  include ./about
  include ./preview
  include ./about2
  include ./info-map
  include ./entrance
  include ./lobby
  include ./pool
  include ./facility
  include ./amenity
  include ./health
  include ./characteristics
  include ./apartments
  include ./contact

