.pool
    .pool__layer
        .center
            .f-container.pool__container
                atricle.pool__info
                    p.pool__subtitle.subtitle
                        |A PRIVATE OASIS
                    h2.pool__title.title.title__h2
                        |SWIMMING POOL
                    .pool__text.desktop
                        p.pool__paragraph.text.paragraph
                            |Early morning, sun-soaked afternoon, or tranquil evening – this elegant exclusive-use pool with its relaxing terrace and bar is where you’ll want to spend time... a lot of time.
                    button.pool__btn.main-btn.desktop(data-micromodal-trigger="modal-1")
                        |Discover more
                    .pool__image.desktop
                        img(src="img/22-min.png", alt="Sunmar")
                .pool__images
                    .pool__main-image
                        img(src="img/21-min.png", alt="Residence")
                    .pool__images-wrap
                        .pool__image.mobile
                            img(src="img/22-min.png", alt="Sunmar")
                        .pool__image
                            img(src="img/23-min.png", alt="Residence")
