.preview
    .preview__layer
        .preview__interval-images-wrap
            .preview__interval-images
                img.active(src="img/5-min.png", alt="Sunmar")
                img(src="img/1-min.png", alt="Sunmar")
                img(src="img/5-min.png", alt="Sunmar")
        .center
            .preview__images.f-container
                .preview__image
                    img(src="img/6-min.png", alt="Sunmar")
                .preview__image
                    img(src="img/7-min.png", alt="Sunmar")
            a.preview__btn.main-btn(href="#")
                |Discover more